<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Ambassador Developer Portal</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900"
      type="text/css"
      media="all"
    >
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="/docs/assets/javascript/3scale-ff711763a1842cd3.js?1603418589"></script>
    <script src="/docs/assets/javascript/excanvas.compiled-4cc61ca43a73869a.js?1603418589"></script>
    <script src="/docs/assets/javascript/lang-selector-32cc704839786550.js?1603418589"></script>
    <script src="/docs/assets/javascript/app-scope-95556ed0f0459ead.js?1603418589"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="//stackpath.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css" />
    <link rel="stylesheet" href="{{.Prefix}}styles/master.css" type="text/css" media="all">
    {{if eq .Ctx "landing"}} {{template "landing-head" $}}
    {{else if eq .Ctx "page"}} {{template "page-magic-head" $}}
    {{else if eq .Ctx "doc"}} {{template "swagger-head" $}}
    {{else}} UNKNOWN CONTEXT??
    {{end}}
    {{/* re-define these in fragments/ folder if you need something specific */}}
    {{define "landing-head"}}{{end}}
    {{define "page-magic-head"}}{{end}}
    {{define "swagger-head"}}{{end}}
    {{define "landing-head"}}{{end}}
    {{define "page-magic-head"}}{{end}}
</head>
<body>
    <div class="o-page">
        {{template "header" $}}
        {{define "header"}}{{end}}
        {{if not (eq .Ctx "page")}}
        {{else if eq $.CurrentPage "overview"}}
        {{else}}}
        {{template "navigation" $}}
        {{end}}
        {{define "navigation"}}{{end}}
        <main class="o-page__main">
            <div>
                <article>
                    <section>
                        <div>
                            {{if eq .Ctx "landing"}} {{template "///landing" $}}
                            {{else if eq .Ctx "page"}} {{template "///page-magic" $}}
                            {{else if eq .Ctx "doc"}} {{template "swagger" $}}
                            {{else}} UNKNOWN CONTEXT??
                            {{end}}
                            {{define "///landing"}}{{end}}
                            {{define "///page-magic"}}{{end}}
                            {{define "swagger"}}{{end}}
                        </div>
                    </section>
                </article>
            </div>
        </main>
        {{template "footer" $}}
        {{define "footer"}}{{end}}
    </div>
</body>
</html>
